# Dependencies
node_modules/
package-lock.json

# Environment Variables (Keep secrets safe!)
.env
.env.local

# Build Outputs
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db